$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(136, 136, 136);

$reversed-color: rgb(255, 255, 255);

$primary-text-color: rgb(0, 0, 0);

$secondary-text-color: rgb(136, 136, 136);

$border-bottom-color: rgb(202, 205, 216);

$background-color: rgb(247, 246, 246);

$shadow-color: rgba(0, 0, 0, 0.32);

$email-form-color: rgb(196, 196, 196);

%section-heading-font {
    font-size: 3em;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
}

%footer-link-font {
    font-size: 0.875em;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
}

%smaller-heading-font {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
}

%to-catalog-link {
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

%footer-form-font {
    font-size: 0.75em;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
}

%product-desc-font {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
}

%smaller-price-font {
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
}

%smaller-product-font {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 210%;
    letter-spacing: 0px;
}

%cart-form-font {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
}

%filter-heading-font {
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
}

%form-button-font {
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
}

%header-menu-font {
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}